// 色定義
$color-white: rgb(255, 255, 255, 1);
$color-thin-black: rgb(0, 0, 0, 0.5);
$color-orange: rgb(255, 204, 128, 1);
$color-warm-orange: rgb(219, 130, 52, 1);
$color-light-gray: rgb(236, 236, 236, 1);
$color-dark-gray: rgb(52, 52, 52, 1);

main {
  padding: 2rem;
}

/* ヘッダー共通スタイル */
.header {
  background-color: #2c3e50;
  padding: 1rem;
  color: $color-white;

  &-nav {
    &__link {
      margin-right: 1rem;
      color: $color-white;
      text-decoration: none;
      &--current {
        font-weight: bold;
      }
    }
  }
}

/* フッター共通スタイル */
.footer {
  background-color: #2c3e50;
  padding: 1rem;
  color: $color-white;

  &-nav {
    &__link {
      margin-right: 1rem;
      color: $color-white;
      text-decoration: none;
      &--current {
        font-weight: bold;
      }
    }
  }
}
