@use 'sass:color';
// 色定義
$color-white: rgb(255, 255, 255, 1);
$color-thin-black: rgb(0, 0, 0, 0.5);
$color-dark-brown: rgb(148, 131, 104, 1);
$color-orange: rgb(255, 204, 128, 1);
$color-warm-orange: rgb(219, 130, 52, 1);
$color-dark-green: rgb(17, 35, 9);
$color-light-gray: rgb(236, 236, 236, 1);
$color-dark-gray: rgb(52, 52, 52, 1);
$color-light-red: rgb(255, 0, 0, 1);

main {
  padding: 2rem;
}

/* ヘッダー共通スタイル */
.header {
  background-color: #2c3e50;
  padding: 1rem;
  color: $color-white;

  &-nav {
    &__link {
      margin-right: 1rem;
      color: $color-white;
      text-decoration: none;
      &--current {
        font-weight: bold;
      }
    }
  }
}

/* フッター共通スタイル */
.footer {
  background-color: #2c3e50;
  padding: 1rem;
  color: $color-white;

  &-nav {
    &__link {
      margin-right: 1rem;
      color: $color-white;
      text-decoration: none;
      &--current {
        font-weight: bold;
      }
    }
  }
}

/* エラーメッセージ */
.error-message {
  color: $color-light-red;
}

/* トースト */
.pre-line-toast {
  white-space: pre-line; // 文字が長いので改行
}

/* フォーム共通スタイル */
@mixin auth-page-layout($bg-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-color;
  &__content {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background: $color-light-gray;
    border-radius: 12px;
    box-shadow: 0 10px 30px $color-thin-black;
  }
  &__title {
    text-align: center;
    margin-bottom: 2rem;
    color: $color-dark-gray;
    font-weight: 600;
  }
}

@mixin form-style {
  &__group {
    margin-bottom: 1.5rem;
  }
  &__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $color-dark-gray;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &__submit {
    width: 100%;
    padding: 0.75rem;
    background-color: $color-warm-orange;
    color: $color-white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: color.adjust($color-warm-orange, $lightness: -10%);
    }
  }
  &__required {
    color: $color-light-red;
    margin-left: 0.25rem;
    font-size: 0.6rem;
    vertical-align: text-top;
  }
}
